@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-main-400: #facc15;
  --color-main-500: #eab308;
  --font-sans: "Inter", system-ui, sans-serif;
  --font-heading: "Manrope", system-ui, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Inter", system-ui, sans-serif;
  scrollbar-gutter: stable;
}
